<% title "Plant a tree" %>
<%= render partial: 'shared/searchbar' %>
<div class="plant-tree-flex">
  <div class="sub-menu">
    <div class="sub-menu-item active">
      <%= link_to trees_top_path do %>
        Populaires
      <% end %>
    </div>
    <div class="sub-menu-item">
      <%= link_to trees_latest_path do %>
        Découvertes
      <% end %>
    </div>
  </div>
  <% @top.each do |source| %>
    <% sub = source.in_garden_of_user(current_user) %>
    <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
  <% end %>
</div>