<% title "Impossible d'ajouter cette source" %>
<%= render partial: 'shared/navbar' %>
<div class="content-flex">
  <h1>Sources d'information</h1>
  <div class="row submenu center">
    <%= link_to sources_path do %>
      DÉCOUVERTES
    <% end %>
    <%= link_to sources_path(filter: 'popular') do %>
      POPULAIRES
    <% end %>
  </div>
  <hr>
  <p class="helper">Hélas, cette source ne peut pas être ajoutée à Jera, car elle ne fournit pas de flux RSS.</p>
</div>