/* --- Fonts --- */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
$base_font: "Lato", "Helvetica", "sans-serif";


$h1_size: 28px;
$base_size: 20px;
$small_size: 14px;
$smaller_size: 12px;

/* --- Colors --- */

$dark_blue: #06091C;
$light_blue: #063B65;

$white: #FFFFFF;
$black: #060A1C;
$grey: #9D9D9D;
$light_grey: #D9D9D9;

$red: #B52A35;
$green: #43AB5F;
$brown: #705942;
$dark_brown: #3D3024;