form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  padding-bottom: 20px
}

form.new_source {
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px
}

form.new_source div {
  flex-grow: 1;
  margin-right: 20px
}

form.new_source input {
  border: 0px;
  border-bottom: 1px solid $grey;
  border-radius: 0px;
  height: 40px;
  min-width: inherit;
  padding: 0px 10px;
  width: 100%
}

form.new_source input[type="submit"] {
  background-color: $white;
  border: 1px solid $green;
  border-radius: 40px;
  color: $green;
  display: flex;
  justify-content: center;
  font-size: $normal_size;
  font-weight: 400;
  height: 30px;
  margin: 0px;
  min-width: inherit;
  padding: 0px 20px;
  width: auto
}

.form-inputs,
.form-actions {
  margin: auto;
  max-width: 500px;
  padding: 0px;
  width: 100%
}

label {
  color: $green;
  display: block;
  font-size: $form_size;
  font-weight: 400;
  margin: 10px 0px 5px
}

input,
select,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0pt;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 5px;
  box-sizing: border-box;
  color: $dark_brown;
  font-size: $form_size;
  font-weight: 700;
  height: 50px;
  padding: 0px 20px;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
}

input:focus {
  outline: 0
}

input[type="submit"] {
  // background-image: linear-gradient(-180deg, #47B869 3%, hsla(136, 44%, 40%, 1) 99%);
  background-color: $green;
  border: 0px;
  color: $white;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 60px;
  margin-top: 20px;
}

input[type="submit"][disabled] {
  cursor: default
}

@media screen and (max-width: 400px) {
  p {
    padding: 10px 25px 0px
  }
}