.friend-request,
.friend-div {
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: $normal_size;
  margin: 0px 5px 0px;
  padding: 10px
}

.friend-request img,
.friend-div img {
  border-radius: 5px;
  height: 55px
}

.friend-request > .right-column,
.friend-div > .right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%
}

.friend-request-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a.send-friend-request,
a.accept-friend-request,
a.refuse-friend-request,
a.recommend-to-friend,
a.recommend-to-team {
  align-items: center;
  background-color: $green;
  border-radius: 20px;
  color: $white;
  display: flex;
  font-size: $normal_size;
  height: 25px;
  justify-content: center;
  margin-left: 20px;
  width: 80px
}

a.refuse-friend-request {
  background-color: $red;
}

a.recommend-to-friend,
a.recommend-to-team, {
  margin-top: 5px;
}

.recommend-span {
  color: $grey;
  margin-right: 10px;
  min-width: 65px
}

textarea.message {
  font-size: $small_size;
  font-weight: normal;
  height: 80px;
  margin-top: 10px;
  max-height: 320px;
  padding: 10px;
  resize: none
}

.pending {
  color: $yellow;
  font-size: $normal_size
}

.user_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 10px 40px;
}

.friends_search_input {
  min-width: inherit;
  margin-right: 10px
}

.friends_search_submit {
  height: 50px !important;
  margin-top: 0px !important;
  min-width: inherit;
  width: auto
}

.no_results {
  max-width: 300px;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .friends_search {
    padding-left: 0px;
    padding-right: 0px;
  }
  .friends_search_submit {
    font-size: $small_size;
    padding: 0px 10px
  }
  .friends_search_input {
    padding: 0px 5px
  }
}