.garden-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  max-width: 400px;
}

.tree,
.plant-tree {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  margin-bottom: 15px;
}

.plant-tree {
  border: 2px solid $green;
  border-radius: 5px;
  padding: 15px
}

.plant-tree-title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px
}

.plant-tree-subtitle {
  font-size: $small_size;
  line-height: 20px;
  margin-bottom: 0px;
  max-width: 280px
}

.tree img,
.plant-tree img {
  display: block;
  margin: auto
}

.tree-pic {
  border-radius: 5px;
  height: 60px;
  width: 60px
}

.tree-name {
  align-items: flex-start;
  display: flex;
  font-size: $normal_size;
  justify-content: space-between;
  padding-left: 10px;
  text-align: left;
  width: 100%
}

.subscribe-button,
.unsubscribe-button {
  background-color: $white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  height: auto;
  padding: 5px 15px;
  text-align: center;
}

.subscribe-button {
  background-color: $green
}

.subscribe-button img,
.unsubscribe-button img {
  height: 14px;
  vertical-align: bottom
}

.new-entries {
  background-color: $red;
  border-radius: 100%;
  color: $white;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: -10px;
  width: 23px;
  z-index: 100
}

@media screen and (max-width: 450px) {
  .tree {
    display: flex;
    width: 90%;
    padding-left: 10px
  }
}

@media screen and (max-width: 375px) {
  .tree-name {
    font-size: $normal_size
  }
  .plant-tree-title,
  .plant-tree-subtitle {
    padding: 0px
  }
  .plant-tree-subtitle {
    font-weight: 300
  }
}

@media screen and (max-width: 350px) {
  .tree-name {
    font-size: $small_size;
    font-weight: 700
  }
  .subscribe-button,
  .unsubscribe-button {
    font-size: $smallest_size
  }
}