.garden-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  max-width: 400px;
}

.tree,
.plant-tree {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  margin-bottom: 15px;
}

.plant-tree {
  border: 2px solid $green;
  border-radius: 5px;
  padding: 15px
}

.plant-tree-title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px
}

.plant-tree-subtitle {
  font-size: $small_size;
  line-height: 20px;
  margin-bottom: 0px;
  max-width: 280px
}

.tree a,
.plant-tree a {
  display: flex;
  text-align: center
}

.tree img,
.plant-tree img {
  display: block;
  margin: auto
}

.tree-pic {
  border-radius: 5px;
  height: 60px;
  width: 60px
}

.tree-name {
  font-size: $normal_size;
  padding-left: 10px;
  text-align: left;
}

.tree-footer {
  display: flex
}

.subscribe-button,
.unsubscribe-button,
.auto-harvest-button,
.manual-harvest-button {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $green;
  color: $green;
  cursor: pointer;
  display: inline-block;
  font-size: $smaller_size;
  height: 30px;
  margin: 0px 0px 0px 10px;
  padding: 0px 15px;
  text-align: left;
  width: 140px
}

.auto-harvest-button,
.manual-harvest-button {
  width: 120px
}

.auto-harvest-button {
  border-color: $grey;
  color: $grey
}

.auto-harvest-button:hover {
  border-color: $green;
  color: $green
}

.unsubscribe-button:hover,
.manual-harvest-button:hover {
  border-color: $red;
  color: $red
}

.subscribe-button {
  background-color: $green;
  color: $white;
  margin-left: 140px
}

.subscribe-button img,
.unsubscribe-button img,
.auto-harvest-button img,
.manual-harvest-button img {
  display: inline-block;
  height: 14px;
  vertical-align: bottom
}

.new-entries {
  background-color: $red;
  border-radius: 100%;
  color: $white;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: -10px;
  width: 23px;
  z-index: 100
}

@media screen and (max-width: 450px) {
  .tree {
    display: flex;
    width: 90%;
    padding-left: 10px
  }
}

@media screen and (max-width: 375px) {
  .tree-name {
    font-size: 16px
  }
  .plant-tree-title,
  .plant-tree-subtitle {
    padding: 0px
  }
  .plant-tree-subtitle {
    font-weight: 300
  }
  .auto-harvest-button,
  .manual-harvest-button,
  .unsubscribe-button {
    margin: 0px 5px 0px 0px
  }
  .subscribe-button {
    margin-left: 125px
  }
}

@media screen and (max-width: 350px) {
  .tree-name {
    font-size: $small_size;
    font-weight: 700
  }
  .subscribe-button,
  .unsubscribe-button,
  .auto-harvest-button,
  .manual-harvest-button {
    font-size: $smallest_size;
    margin: 0px 5px 0px 0px;
    padding: 0px 10px
  }
  .auto-harvest-button,
  .manual-harvest-button {
    width: 95px
  }
  .subscribe-button,
  .unsubscribe-button {
    width: 115px
  }
  .subscribe-button {
    margin-left: 100px
  }
}