.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0px;
  top: 0px;
  width: 100%
}

.profile-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px
}

.profile-background {
  background-image: image-url("background_leaves.png");
  border-radius: 0px 0px 5px 5px;
  height: 100px;
  width: 100%
}

.profile-pic-and-title {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  margin-left: 50px
}

.profile-name {
  color: $text_primary;
  display: flex;
  flex-direction: column;
  font-size: $base-size;
  margin-left: 10px;
  text-shadow: 0px 2px 4px rgba(0,0,0,1)
}

.edit-profile-button,
.friends-list-button {
  background-color: $white;
  border: 0px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.4);
  color: $grey;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 10px;
  padding: 5px 10px
}

.add-button {
  align-items: center;
  background-color: $background_secondary;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.2);
  color: $text_primary;
  display: flex;
  height: 30px;
  flex-direction: row;
  font-size: $normal_size;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 5px 10px
}

.add-button span {
  padding-left: 10px
}

.tree {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 35px;
}

.tree img {
  display: block;
  margin: auto
}

.tree-pic,
.profile-pic {
  border-radius: 5px;
  // box-shadow: 2px 2px 10px 0px rgba(102, 102, 102, 0.4);
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  width: 60px
}

.tree-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: $normal_size;
  justify-content: space-between;
  padding-left: 10px;
  text-align: left;
  width: 100%
}

.tree-footer,
.tree-footer-add {
  display: flex;
  font-size: $small_size;
  justify-content: flex-end;
  width: 100%
}

a.tree-button {
  color: $text_secondary;
  line-height: 25px;
  margin-right: 10px;
  text-decoration: underline
}

a.add-to-garden {
  align-items: center;
  background-color: $green;
  border-radius: 20px;
  color: $white;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-right: 10px;
  width: 70px
}

.tree-footer-add a img {
  margin: 0px;
  padding-right: 5px
}

@media screen and (max-width: 450px) {
  .profile-flex {
    max-width: 450px
  }
  .profile-background {
    border-radius: 0px
  }
  .profile-pic-and-title {
    margin-left: 15px
  }
  .tree {
    margin-left: 10px;
    margin-right: 10px
  }
  .add-button {
    margin-left: 10px;
    margin-right: 10px
  }
}

@media screen and (max-width: 375px) {
  .profile-background {
    border-radius: 0px
  }
  .tree-pic {
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 50px
  }
  .tree-name {
    font-size: $normal_size
  }
}

@media screen and (max-width: 350px) {
  .tree-name {
    font-size: $small_size;
    font-weight: 700
  }
}