body {
  background-color: $white;
  color: $dark_brown;
  font-family: $base_font;
  font-size: $base_size;
  font-weight: 400;
  margin: 0px
}

h1,
h2,
h3 {
  font-size: $h1_size;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0px;
  padding: 0px 10px;
  text-align: center
}

h1 {
  font-family: 'Cormorant';
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  text-align: left
}

h3 {
  color: $grey;
  font-family: 'Cormorant';
  font-size: $normal_size;
  margin: 0px 0px 0px 5px;
  padding: 0px;
  text-align: left
}

p {
  text-align: left;
}

p.helper {
  font-family: 'Cormorant';
  font-weight: 400
}

/* --- HR --- */

hr {
  background-color: $light_grey;
  border: 0px;
  height: 1px;
  margin: 0px 10px 20px 0px
}

/* --- HEADER --- */

header {
  margin: auto;
  margin-top: 20px;
  max-width: 500px
}

header > img {
  border: 0px solid $white;
  border-radius: 4px;
  height: 32px;
  margin-left: 15px
}

header > h1 {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  top: -7px
}

/* --- NAV --- */

.nav {
  background-color: $white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200
}

.nav-flex {
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 4px 0px rgba(102, 102, 102, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: $normal_size;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: 0.5px;
  max-width: 600px;
  padding: 0px 15px;
  width: 100%
}

.top-navbar {
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%
}

.nav-first-row {
  opacity: 1;
  -webkit-transition: opacity .5s, width 1s;
  transition: opacity .5s, width 1s;
  width: 290px
}

.nav-first-row.shrinked {
  opacity: 0;
  overflow: hidden;
  width: 0px
}

.top-navbar .row:nth-of-type(2) {
  flex-grow: 1;
  justify-content: flex-end
}

.top-navbar a {
  align-items: center;
  display: flex;
  margin-right: 20px
}

.top-navbar a.active {
  color: $green;
}

.bottom-navbar {
  height: 0px;
  justify-content: flex-start;
  margin-bottom: 0px;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  -webkit-transition: height .7s, margin-bottom .7s, opacity .3s;
  transition: height .7s, margin-bottom .7s, opacity .3s
}

.bottom-navbar.expanded {
  height: 20px;
  margin-bottom: 10px;
  opacity: 1
}

.bottom-navbar a {
  align-items: center;
  display: flex;
  font-size: $smaller_size;
  margin: 0px 15px 0px 0px
}

.nav-flex-right {
  justify-content: flex-end
}

img.profile-button {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.4);
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0px;
  width: 30px
}

.added-to-harvest {
  align-items: center;
  color: $red;
  display: flex;
  font-size: $small_size;
  height: 20px;
  justify-content: center;
  opacity: 0;
  padding-left: 5px;
  width: 20px
}

.notification-bullet {
  background-color: $red;
  border: 2px solid $white;
  border-radius: 100%;
  flex-shrink: 0;
  height: 10px;
  opacity: 0;
  position: relative;
  top: -6px;
  left: -8px;
  width: 10px;
  z-index: 300
}

.nav-green-button {
  align-items: center;
  background-color: $green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.4);
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 10px;
  padding: 0px 15px
}

/* --- SEARCH NAVBAR --- */

.magnifier-button {
  cursor: pointer;
  height: 20px;
  width: 20px
}

.row.search-navbar {
  justify-content: flex-start;
  margin-bottom: 0px;
  margin-left: 5px;
  overflow: hidden;
  width: 0px;
  -webkit-transition: width 1s;
  transition: width 1s
}

.row.permanent-search-navbar {
  justify-content: flex-start;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 10px;
  width: 100%
}

.row.search-navbar.expanded {
  width: 90%
}

.search-navbar form,
.permanent-search-navbar form {
  margin: 0px;
  max-width: inherit;
  padding: 0px;
  width: 100%
}

input.nav_search_input {
  border: 0px;
  height: inherit;
  font-size: $normal_size;
  font-weight: 300;
  max-width: inherit;
  min-width: 70px;
  padding: 0px 10px;
  width: inherit
}

.arrow-left {
  margin-right: 5px
}

.arrow-right {
  margin-left: 5px
}

@media screen and (max-width: 450px) {
  .nav-flex {
    border-radius: 0px;
    font-size: $small_size;
    max-width: 450px
  }
  .bottom-navbar a {
    flex-grow: 1;
    font-size: $smallest_size
  }
  .bottom-navbar.expanded {
    height: 150px;
  }
  .bottom-navbar {
    flex-direction: column !important;
    justify-content: space-around
  }
}

@media screen and (max-width: 340px) {
  .top-navbar {
    justify-content: flex-start
  }
  .top-navbar a {
    font-size: $small_size;
  }
}

.magnifier {
  align-items: stretch;
  background-color: $white;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  height: 40px;
  padding: 0px 10px
}

/* --- ANCHORS --- */

a,
a:active,
a:hover,
a:visited {
  color: $dark_brown;
  text-decoration: none
}

a.red {
  color: $red
}

/* --- PARAGRAPHS --- */

p {
  margin: auto;
  margin-bottom: 20px;
  max-width: 500px
}

@media screen and (max-width: 400px) {
  p {
    padding: 10px 25px 0px
  }
}

span.empty-message {
  font-family: 'Cormorant';
  font-size: $base_size;
  line-height: 27px;
  margin: 15px 20px;
  text-align: center
}

/* --- BACK --- */

a.back-button {
  color: $green;
  font-size: $small_size;
  font-weight: 800;
  margin-bottom: 10px 
}

.back-button img {
  height: 10px
}

.back {
  color: $white;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: center;
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200
}

.back img {
  padding-right: 10px
}

.back a,
.back a:hover,
.back a:active,
.back a:visited {
  align-items: center;
  background-image: linear-gradient(-180deg, #47B869 3%, #2F7A43 99%);
  border-radius: 0px 0px 5px 5px;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  max-width: 600px;
  padding-left: 20px
}

@media screen and (max-width: 350px) {
  .back {
    font-size: $normal_size
  }
}

@media screen and (max-width: 600px) {
  .back a:first-of-type,
  .back a:last-of-type {
    border-radius: 0px
  }
}

/* --- SUB MENU --- */

.submenu {
  margin: 10px 0px 10px 5px
}

.submenu a {
  color: $grey;
  font-size: $normal_size;
  font-weight: 300;
  margin-right: 20px
}

.submenu a.active {
  color: $green;
  font-weight: 700
}

.sub-menu {
  display: flex;
  margin-bottom: 30px;
  width: 100%
}

.sub-menu-item {
  flex-grow: 1;
  text-align: center
}

.sub-menu-item.active a {
  border-bottom: 2px solid $green;
  font-weight: bold
}

.sub-menu-item a {
  color: $green;
  font-weight: 300;
  padding: 0px 35px 5px
}

@media screen and (max-width: 400px) {
  .submenu {
    margin-left: 10px
  }
  .sub-menu-item a {
    padding: 0px 20px 5px
  }
}

/* --- DRY CLASSES --- */

.center {
  text-align: center
}

.underline {
  text-decoration: underline
}

.no-margin {
  margin: 0
}

.hidden {
  display: none !important
}

.green {
  color: $green
}

.red {
  color: $red
}

.brown {
  color: $dark_brown
}

.bold {
  font-weight: 700
}

.normal-size {
  font-size: $normal_size
}

.underlined {
  text-decoration: underline
}

.right {
  float: right
}

.column {
  display: flex;
  flex-direction: column
}

.row {
  display: flex;
  flex-direction: row
}

.full-width {
  width: 100%
}

.low-opacity {
  opacity: 0.5
}

.full-opacity {
  opacity: 1
}

.not-active {
  cursor: default;
  opacity: 0.6;
  pointer-events: none
}

.margin-right-auto {
  margin-right: auto
}