body {
  background-color: $white;
  color: $dark_brown;
  font-family: $base_font;
  font-size: $base_size;
  font-weight: 400;
  margin: 0px
}

h1,
h2,
h3 {
  font-size: $h1_size;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0px;
  padding: 0px 10px;
  text-align: center
}

p {
  text-align: left;
}

/* --- REDBAR --- */

hr {
  background-color: $red;
  border: 0px;
  height: 1px;
  margin: 0px;
  width: 100%
}

.redbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%
}

.redbar span {
  color: $red;
  flex-shrink: 0;
  font-size: $small_size;
  padding-right: 10px
}

@media screen and (max-width: 420px) {
  .redbar {
    padding-left: 10px;
    padding-right: 10px;
    width: inherit;
  }
}

/* --- HEADER --- */

header {
  margin: auto;
  margin-top: 20px;
  max-width: 500px
}

header > img {
  border: 0px solid $white;
  border-radius: 4px;
  height: 32px;
  margin-left: 15px
}

header > h1 {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  top: -7px
}

/* --- NAV --- */

.nav {
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  max-width: 500px
}

.nav-flex-right {
  justify-content: flex-end
}

.profile-button {
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.4);
  display: flex;
  flex-align: center;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.profile-button img {
  border-radius: 20px;
  height: 40px;
  width: 40px
}

.nav-green-button {
  align-items: center;
  background-color: $green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.4);
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 10px;
  padding: 0px 15px
}

.arrow-left {
  margin-right: 5px
}

.arrow-right {
  margin-left: 5px
}

@media screen and (max-width: 450px) {
  .nav-flex {
    max-width: 450px
  }
}

/* --- NAVSEARCH --- */

.nav-search {
  display: flex;
  height: 90px;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200
}

.nav-search-flex {
  border-radius: 0px 0px 5px 5px;
  background-color: $green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 500px
}

.nav-search-back {
  color: $white;
  padding: 10px 0px 10px 10px
}

.magnifier {
  align-items: stretch;
  background-color: $white;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  height: 40px;
  padding: 0px 10px
}

.nav-search-bar form {
  margin: auto;
  padding-bottom: 5px
}

.nav-search-bar input {
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  font-size: $normal_size;
  height: 40px;
  padding-left: 0px;
  padding-right: 10px
}

.nav-search-bar input[type="submit"] {
  background-color: transparent;
  background-image: none;
  height: 40px !important;
  padding-right: 0px
}

@media screen and (max-width: 450px) {
  .nav-search-flex {
    border-radius: 0px;
    max-width: 450px
  }
}

/* --- ANCHORS --- */

a,
a:active,
a:hover,
a:visited {
  color: $dark_brown;
  text-decoration: none
}

a.red {
  color: $red
}

a.sign-out {
  color: green;
  margin-top: 20px;
  text-align: right;
  text-decoration: underline;
  width: auto
}

/* --- PARAGRAPHS --- */

p {
  margin: auto;
  margin-bottom: 20px;
  max-width: 500px
}

span.empty-message {
  font-size: $h2_size;
  line-height: 40px;
  margin-top: 15px;
  text-align: center
}

/* --- BACK --- */

.back {
  color: $white;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: center;
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200
}

.back img {
  padding-right: 10px
}

.back a,
.back a:hover,
.back a:active,
.back a:visited {
  align-items: center;
  background-image: linear-gradient(-180deg, #47B869 3%, #2F7A43 99%);
  border-radius: 0px 0px 5px 5px;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  max-width: 600px;
  padding-left: 20px
}

@media screen and (max-width: 350px) {
  .back {
    font-size: $normal_size
  }
}

@media screen and (max-width: 600px) {
  .back a:first-of-type,
  .back a:last-of-type {
    border-radius: 0px
  }
}

/* --- SUB MENU --- */

.sub-menu {
  display: flex;
  margin-bottom: 30px;
  width: 100%
}

.sub-menu-item {
  flex-grow: 1;
  text-align: center
}

.sub-menu-item.active a {
  border-bottom: 2px solid $green;
  font-weight: bold
}

.sub-menu-item a {
  color: $green;
  font-weight: 300;
  padding: 0px 35px 5px
}

@media screen and (max-width: 350px) {
  .sub-menu-item a {
    padding: 0px 20px 5px
  }
}

/* --- DRY CLASSES --- */

.center {
  text-align: center
}

.underline {
  text-decoration: underline
}

.hidden {
  display: none !important
}

.green {
  color: $green
}

.red {
  color: $red
}

.brown {
  color: $dark_brown
}

.bold {
  font-weight: 700
}

.normal-size {
  font-size: $normal_size
}

.underlined {
  text-decoration: underline
}

.right {
  float: right
}

.column {
  display: flex;
  flex-direction: column
}

.row {
  display: flex;
  flex-direction: row
}

.full-width {
  width: 100%
}

.low-opacity {
  opacity: 0.5
}

.not-active {
  cursor: default;
  opacity: 0.6;
  pointer-events: none
}

.margin-right-auto {
  margin-right: auto
}