body {
  background-color: $white;
  color: $dark_brown;
  font-family: $base_font;
  font-size: $base_size;
  font-weight: 400;
  margin: 0px
}

h1,
h2,
h3 {
  font-size: $h1_size;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0px;
  text-align: center
}

/* --- HEADER --- */

header {
  margin: auto;
  margin-top: 20px;
  max-width: 500px
}

header > img {
  border: 0px solid $white;
  border-radius: 4px;
  height: 32px;
  margin-left: 15px
}

header > h1 {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  top: -7px
}

/* --- FOOTER --- */

.footer {
  background-color: $green;
  border-top: 3px solid $white;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 60px;
  z-index: 200
}

.footer a,
.footer a:hover,
.footer a:active,
.footer a:visited {
  color: $white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: $small_size
}

.footer a.active {
  border-bottom: 3px solid;
  border-color: $white
}

.footer a img {
  height: 30px;
  margin-top: 5px
}

.footer a p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%
}

/* --- ANCHORS --- */

a,
a:active,
a:hover,
a:visited {
  color: $dark_brown;
  text-decoration: none
}

a.red {
  color: $red
}

a.sign-out {
  color: green;
  margin-top: 20px;
  text-align: right;
  text-decoration: underline;
  width: auto
}

/* --- PARAGRAPHS --- */

p {
  margin: auto;
  margin-bottom: 20px;
  max-width: 500px
}

/* --- BACK --- */

.back {
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 0px 0px 10px 10px;
  width: 100%
}

.back img {
  vertical-align: baseline
}

.back a {
  color: $green
}

.chevron {
  height: 16px
}

@media screen and (max-width: 350px) {
  .back {
    font-size: $normal_size
  }
  .chevron{
    height: 14px
  }
}

/* --- SUB MENU --- */

.sub-menu {
  display: flex;
  margin-bottom: 30px;
  width: 100%
}

.sub-menu-item {
  flex-grow: 1;
  text-align: center
}

.sub-menu-item.active a {
  border-bottom: 2px solid $green;
  font-weight: bold
}

.sub-menu-item a {
  color: $green;
  font-weight: 300;
  padding: 0px 35px 5px
}

@media screen and (max-width: 350px) {
  .sub-menu-item a {
    padding: 0px 20px 5px
  }
}

/* --- DRY CLASSES --- */

.center {
  text-align: center
}

.hidden {
  display: none
}

.green {
  color: $green
}

.red {
  color: $red
}

.brown {
  color: $dark_brown
}

.bold {
  font-weight: 700
}

.underlined {
  text-decoration: underline
}

.right {
  float: right
}