<div class="footer">
  <%= link_to root_path do %>
    <% if current_page?(root_path) || current_page?(pickings_path) %>
      <p class="active-tab">Harvest</p>
    <% else %>
      <p>Harvest</p>
    <% end %>
  <% end %>
  <%= link_to garden_path do %>
    <% if current_page?(garden_path) %>
      <p class="active-tab">Garden</p>
    <% else %>
      <p>Garden</p>
    <% end %>
  <% end %>
  <%= link_to edit_user_registration_path do %>
    <% if current_page?(edit_user_registration_path) %>
      <p class="active-tab">Profile</p>
    <% else %>
      <p>Profile</p>
    <% end %>
  <% end %>
</div>

<script>
  // PICK
  $(document).on("click", ".pick-entry", function() {
    // $(this).find("img.coloured").removeClass("hidden");
    // $(this).addClass("clicked");
    // $(this).find("img.greyed").addClass("hidden");
    // $(this).find("span.count").html(parseInt($(this).find('span.count').html(), 10)+1);
    // if ($(this).find('span.count').html() == "1") {
    //   $(this).find('span.picking-word').html("picking");
    // } else {
    //   $(this).find('span.picking-word').html("pickings");
    // }
    // $(this).removeClass("pick-entry");
    // $(this).addClass("picked-entry");
    location.reload();
  });
  $(document).on("mouseenter", ".pick-entry", function() {
    $(this).find("img.coloured").removeClass("hidden");
    $(this).find("img.greyed").addClass("hidden");
  });
  $(document).on("mouseleave", ".pick-entry", function() {
    // if ($(this).hasClass("clicked") == false) {
      $(this).find("img.coloured").addClass("hidden");
      $(this).find("img.greyed").removeClass("hidden");
    // }
  });

  $(document).on("click", ".picked-entry", function() {
    // $(this).removeClass("clicked");
    $(this).find("img.coloured").addClass("hidden");
    $(this).find("img.greyed").removeClass("hidden");

    // $(this).find("span.count").html(parseInt($(this).find('span.count').html(), 10)-1);
    // if ($(this).find('span.count').html() == "1") {
    //   $(this).find('span.picking-word').html("picking");
    // } else {
    //   $(this).find('span.picking-word').html("pickings");
    // }
    // $(this).removeClass("picked-entry");
    // $(this).addClass("pick-entry");
    location.reload();
  });

  // SUBSCRIBE
  $(".unsubscribe-button").mouseover(function() {
    $(this).find("img").addClass("hidden");
    $(this).find("span").text("Remove tree");
  });
  $(".unsubscribe-button").mouseout(function() {
    $(this).find("img").removeClass("hidden");
    $(this).find("span").text("In your garden");
  });
  $(".subscribe-button").click(function() {
    location.reload();
  });
  $(".subscribe-button").children().click(function() {
    location.reload();
  });
  $(".unsubscribe-button").click(function() {
    location.reload();
  });
  $(".unsubscribe-button").children().click(function() {
    location.reload();
  });

  // AUTO-HARVEST
  $(".manual-harvest-button").mouseover(function() {
    $(this).text("Auto-harvest");
  });
  $(".manual-harvest-button").mouseout(function() {
    $(this).text("Manual harvest");
  });
  $(".auto-harvest-button").mouseover(function() {
    $(this).text("Manual harvest");
  });
  $(".auto-harvest-button").mouseout(function() {
    $(this).text("Auto-harvesting");
  });
</script>