<div class="footer">
  <%= link_to root_path do %>
    <% if current_page?(root_path) || current_page?(pickings_path) %>
      <p class="active-tab">Harvest</p>
    <% else %>
      <p>Harvest</p>
    <% end %>
  <% end %>
  <%= link_to garden_path do %>
    <% if current_page?(garden_path) %>
      <p class="active-tab">Garden</p>
    <% else %>
      <p>Garden</p>
    <% end %>
  <% end %>
  <%= link_to edit_user_registration_path do %>
    <% if current_page?(edit_user_registration_path) %>
      <p class="active-tab">Profile</p>
    <% else %>
      <p>Profile</p>
    <% end %>
  <% end %>
</div>

<script>
  // PICK
  $(".pick-entry").unbind('click').bind('click', function(evt) {

    var old_count = $(this).attr("data-count");

    if ($(this).find("img.coloured").hasClass("hidden")) {
      $(this).find("img.coloured").removeClass("hidden");
      $(this).find("img.greyed").addClass("hidden");
      $(this).find("span.picking-word").addClass("red");
      $(this).find("span.count").addClass("red");
      var new_count = parseInt(old_count, 10) + 1;
    } else {
      $(this).find("img.coloured").addClass("hidden");
      $(this).find("img.greyed").removeClass("hidden");
      $(this).find("span.picking-word").removeClass("red");
      $(this).find("span.count").removeClass("red");
      var new_count = parseInt(old_count, 10) - 1;
    }

    $(this).attr("data-count", new_count);
    $(this).find("span.count").html(new_count);


    if (new_count == "1") {
      $(this).find('span.picking-word').html("picking");
    } else {
      $(this).find('span.picking-word').html("pickings");
    }
  });

  // SUBSCRIBE
  $(".unsubscribe-button").mouseover(function() {
    $(this).find("span").text("Remove tree");
  });

  $(".unsubscribe-button").mouseout(function() {
    $(this).find("span").text("In your garden");
  });

  $(".manual-harvest-button").mouseover(function() {
    $(this).find("span").text("Disable");
  });

  $(".manual-harvest-button").mouseout(function() {
    $(this).find("span").text("Harvesting");
  });

  $(".subscribe-button").click(function() {
    location.reload();
  });

  $(".subscribe-button").children().click(function() {
    location.reload();
  });

  $(".unsubscribe-button").click(function() {
    location.reload();
  });

  $(".unsubscribe-button").children().click(function() {
    location.reload();
  });

  $(".auto-harvest-button").click(function() {
    location.reload();
  });
  
  $(".auto-harvest-button").children().click(function() {
    location.reload();
  });

  $(".manual-harvest-button").click(function() {
    location.reload();
  });
  
  $(".manual-harvest-button").children().click(function() {
    location.reload();
  });
</script>