<% if entry.is_harvested_by_user?(current_user) %>
  <div class="picking-footer">
    <%= link_to entry_unharvest_path(entry), class: 'unharvest', remote: :true do %>
      Unharvest
    <% end %>
  </div>
<% else %>
  <div class="fruit-footer">
    <%= link_to entry_mask_path(entry), class: 'mask', remote: :true do %>
      Mask
    <% end %>
    <%= link_to entry_harvest_path(entry), class: 'harvest', remote: :true do %>
      Harvest
    <% end %>
  </div>
<% end %>