<div class="fruit-footer">
  <% if entry.is_picked_by_user?(current_user) %>
    <a class="harvested">
      Harvested
    </a>
  <% else %>
    <a class="harvested hidden">
      Harvested
    </a>
    <%= link_to new_entry_masking_path(entry), class: 'mask', remote: :true do %>
      Mask
    <% end %>
    <%= link_to new_entry_picking_path(entry), class: 'harvest', remote: :true do %>
      Harvest
    <% end %>
  <% end %>
</div>