<div class="navbar">
  <% harvest = "" %>
  <% garden = "" %>
  <% profile = "" %>
  <% if current_page?(root_path) || current_page?(pickings_path) %>
    <% fresh = "active" %>
  <% elsif current_page?(garden_path) %>
    <% garden = "active" %>
  <% elsif current_page?(edit_user_registration_path) %>
    <% profile = "active" %>
  <% end %>
  
  <%= link_to garden_path, class: garden do %>
    <p class="center">Garden</p>
  <% end %>
  <%= link_to root_path, class: fresh do %>
    <p class="center">Fresh</p>
  <% end %>
  <%= link_to edit_user_registration_path, class: profile do %>
    <p class="center">Harvests</p>
  <% end %>
</div>