<div class="navbar">
  <% fresh = "" %>
  <% garden = "" %>
  <% harvests = "" %>
  <% if current_page?(root_path) %>
    <% fresh = "active" %>
  <% elsif current_page?(garden_path) %>
    <% garden = "active" %>
  <% elsif current_page?(harvests_path) %>
    <% harvests = "active" %>
  <% end %>
  
  <%= link_to garden_path, class: garden do %>
    <p class="center">Garden</p>
  <% end %>
  <%= link_to root_path, class: fresh do %>
    <p class="center">Fresh</p>
  <% end %>
  <%= link_to harvests_path, class: harvests do %>
    <p class="center">Harvests</p>
  <% end %>
</div>