<div class="navbar">
  <% harvest = "" %>
  <% garden = "" %>
  <% profile = "" %>
  <% if current_page?(root_path) || current_page?(pickings_path) %>
    <% fresh = "active" %>
  <% elsif current_page?(garden_path) %>
    <% garden = "active" %>
  <% elsif current_page?(edit_user_registration_path) %>
    <% profile = "active" %>
  <% end %>
  
  <%= link_to garden_path, class: garden do %>
    <p class="center">Garden</p>
  <% end %>
  <%= link_to root_path, class: fresh do %>
    <p class="center">Fresh</p>
  <% end %>
  <%= link_to edit_user_registration_path, class: profile do %>
    <p class="center">Harvests</p>
  <% end %>
</div>

<script>
  // PICK
  $(".pick-entry").unbind('click').bind('click', function(evt) {

    var old_count = $(this).attr("data-count");

    if ($(this).find("img.coloured").hasClass("hidden")) {
      $(this).find("img.coloured").removeClass("hidden");
      $(this).find("img.greyed").addClass("hidden");
      $(this).find("span.picking-word").addClass("red");
      $(this).find("span.count").addClass("red");
      var new_count = parseInt(old_count, 10) + 1;
    } else {
      $(this).find("img.coloured").addClass("hidden");
      $(this).find("img.greyed").removeClass("hidden");
      $(this).find("span.picking-word").removeClass("red");
      $(this).find("span.count").removeClass("red");
      var new_count = parseInt(old_count, 10) - 1;
    }

    $(this).attr("data-count", new_count);
    $(this).find("span.count").html(new_count);


    if (new_count == "1") {
      $(this).find('span.picking-word').html("picking");
    } else {
      $(this).find('span.picking-word').html("pickings");
    }
  });

  // SUBSCRIBE
  $(".unsubscribe-button").mouseover(function() {
    $(this).find("span").text("Remove tree");
  });

  $(".unsubscribe-button").mouseout(function() {
    $(this).find("span").text("In your garden");
  });

  $(".manual-harvest-button").mouseover(function() {
    $(this).find("span").text("Disable");
  });

  $(".manual-harvest-button").mouseout(function() {
    $(this).find("span").text("Harvesting");
  });

  $(".subscribe-button").click(function() {
    location.reload();
  });

  $(".subscribe-button").children().click(function() {
    location.reload();
  });

  $(".unsubscribe-button").click(function() {
    location.reload();
  });

  $(".unsubscribe-button").children().click(function() {
    location.reload();
  });

  $(".auto-harvest-button").click(function() {
    location.reload();
  });
  
  $(".auto-harvest-button").children().click(function() {
    location.reload();
  });

  $(".manual-harvest-button").click(function() {
    location.reload();
  });
  
  $(".manual-harvest-button").children().click(function() {
    location.reload();
  });
</script>