<% title "Liste de mes amis" %>
<div class="nav">
  <div class="nav-flex">
    <%= link_to root_path do %>
      <div class="nav-green-button">
        <%= image_tag('white_arrow_left.svg', class: 'arrow-left') %>
        <span>Mon profil</span>
      </div>
    <% end %>
  </div>
</div>
<div class="content-flex">
  <% @friends.each do |f| %>
    <div class="friend-div">
      <%= image_tag(f.picture) %>
      <%= f.username %>
    </div>
  <% end %>
</div>