<% title "Garden" %>
<div class="garden-flex">
  <div class="plant-tree">
    <%= link_to trees_latest_path do %>
      <div>
        <%= image_tag("add_tree.svg", class: 'tree-pic') %>
      </div>
      <div class="tree-name">
        <p class="plant-tree-title">Plant a new tree</p>
        <p class="plant-tree-subtitle">Find more interesting stuff to harvest from the wild world.</p>
      </div>
    <% end %>
  </div>
  <% @subscriptions.each do |sub| %>
    <% cache sub do %>
      <% source = sub.source %>
      <%= render partial: 'shared/tree', locals: {sub: sub, source: source} %>
    <% end %>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>