<div class="content">
  <div class="content-left-column">
    <%= image_tag("sample/creator_pic.png", class: 'source-pic') %>
  </div>
  <div class="content-right-column">
    <div class="content-top">
      <div class="source-title">BiTS, magazine presque culte</div>
      <div class="time-published">38 min</div>
    </div>
    <div class="content-box">
      <%= image_tag("sample/content_thumbnail.png", class: 'content-thumbnail') %>
      <p class="content-title">Ciné Gaming - BiTS - ARTE</p>
      <p class="content-desc">Malgré un large consensus en leur défaveur, les adaptations ciné de jeux vidéo sortent avec régularité depuis un quart de siècle. Quel rôle paradoxal ces films jouent-ils exactement auprès des gamers ? Recollons les dispositifs ensemble.<p>
    </div>
  </div>
</div>